.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  margin-top: 2vh;
  width: auto;
  height: 60vmin;
  max-width: 90vw;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 3vmin);
  color: white;
  padding: 2vh;
}

.App-download {
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 10vmin;
  width: auto;
  flex-direction: column;
  align-items: center;
}

.App-download-image {
  height: 10vmin;
  width: auto;
}

.App-link {
  color: #61dafb;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 80vmin;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Form-element {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Form-label {
  margin-right: 4vw;
  flex: 11;
}

.Form-radio {
  flex: 1;
  margin-left: 10px;
  align-self: center;
}

.Form-radioLabel {
  flex: 1;
  align-self: center;
}

.Form-textbox {
  flex: 10;
}

.Form-submit {
  text-align: center;
  margin-top: 3vh;
}

.Form-din {
  font-size: calc(30px + 2vmin);
  text-align: center;
  margin-top: 2vh;
}
